<html>
<head>
<script>
    <!-- Yandex.Metrika counter -->
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106926515', 'ym');

    ym(106926515, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
    <!-- /Yandex.Metrika counter -->

    const assetStoreUrl = "{{ libdocConfig.customLinks[0].url }}";
    setTimeout(() => {
      window.location.href = assetStoreUrl;
    }, 200);
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/106926515" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

   <title>{{ pageTitle }}</title>
   <link rel="icon" type="image/png" href="{{ libdocConfig.faviconUrl }}">

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-starturl" content="{{ page.url }}">
    <meta name="msapplication-tooltip" content="{{ pageTitle }}">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta property="og:image" content="{{ pageOgImageUrl }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageDescription }}">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:image" content="{{ pageOgImageUrl }}">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="{{ pageTitle }}">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">

</head>
<body>
{{ content }}
</body>
</html>